:host {
  grid-area: footer;
  display: block;
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;

  p {
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #FF7043;
    font-size: 1rem;
  }

}
