:host {
  grid-area: header;
  background-color: #FFFFFF;

  header {
    display: grid;
    grid-template-areas: "header-brand header-masthead header-bar" "header-nav header-nav header-nav";
    grid-template-columns: 12rem 1fr auto;
    grid-template-rows: 5rem 3rem;
  }

}
