:host {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-rows: 8rem 1fr 5vh;
  grid-template-columns: 1fr;
  min-height: 100vh;
  width: 100%;
  background-color: #FFFFFF;

}
