@import "./variables";
@import "../../app.common";

:host {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-width: 1px;
  border-style: solid;
  border-color: $tnos-gray-300;
  border-radius: 3px;
  transition: border-color 0.3s ease-out;

  .wrapper-input {
    flex: 1 0 auto;
  }

  .wrapper-icon {
    flex: 0 0 auto;
    padding: $form-group-padding;
    background-color: $tnos-gray-300;
    transition: background-color 0.3s ease-out;
  }

  .order-1 {
    order: 1;
  }

  .order-2 {
    order: 2;
  }
}

:host(.hasFocus) {
  border-color: #3F2AB1;

  .wrapper-icon {
    background-color: #3F2AB1;
  }

}
