:host {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F44336;
}

.error {
  p {
    color: #FFFFFF;
    font-size: 5rem;
    letter-spacing: 0.3em;
  }
}