<div class="row row-header" role="row">
  <div class="col col-header" role="gridcell">Facilities</div>
  <div class="col col-header">Gallery</div>
  <div class="col col-header">Property</div>
  <div class="col col-header">Areas</div>
  <div class="col col-header">Price</div>
  <div class="col col-header">Actions</div>
  <div class="col col-header">Calendar</div>
</div>
<div class="row row-default" role="row">
  <ng-container *ngFor="let item of items">
    <div class="col">
      <div class="cell">
        {{item.attribute1}}
      </div>
    </div>
    <div class="col">
      <div class="cell">
        <a class="header-nav__link" (click)="goDetails(item.id)">
          <img [src]="item.imageSmall + '/241/150/2'" />
        </a>
      </div>
    </div>
    <div class="col">
      <div class="cell">
        {{item.title}}
      </div>
    </div>
    <div class="col">
      <div class="cell">
        duomo {{item.id}}
      </div>
    </div>
    <div class="col">
      <div class="cell">
        10
      </div>
    </div>
    <div class="col">
      <div class="cell">
        <button mat-button color="accent">Primary</button>
      </div>
    </div>
    <div class="col">
      <div class="cell">
        Cal
      </div>
    </div>

  </ng-container>
</div>