<div class="header-bar">
  <ul class="header-bar__account">
    <li>
      <button class="btn" type="button" (click)="logout()">
        {{(this.account$ | async)?.firstName}}
      </button>
    </li>
    <li>
      <tnos-languages (change)="onSelectLanguage($event)" [languages]="languages"></tnos-languages>
    </li>
    <li>
      <tnos-contacts [contacts]="contacts"></tnos-contacts>
    </li>
  </ul>
</div>