.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 2.25rem;
  padding: 0  0.75rem;
  border-width: 1px;
  border-style: solid;
  border-color: $io-indigo-750;
  border-radius: 3px;
  outline: 0;
  text-decoration: none;
  font-weight: 500;
  white-space: nowrap;
  color: $io-white;
  background-color: $io-indigo-750;
  transition: border-color 0.1s ease-out, color 0.1s ease-out, background-color 0.1s ease-out;
  cursor: pointer;

  &:hover {
    border-color: transparent;
    color: $io-white;
    background-color: tnos-shade($io-indigo-750, 50%);
  }

  &:focus {
    border-color: transparent;
    color: $io-white;
    background-color: tnos-shade($io-indigo-750, 50%);
  }

  &:active {
    border-color: transparent;
    color: $io-white;
    background-color: tnos-shade($io-indigo-750, 50%);
  }

  &:visited {
    color: $io-white;
  }

  &:disabled,
  &:disabled:hover,
  &:disabled:focus,
  &:disabled:active,
  &:disabled:visited {
    border-color: transparent;
    color: hsl(0, 0%, 75%);
    background-color: hsl(0, 0%, 98%);
    cursor: not-allowed;
  }
}
