:host {
  display: flex;
  flex-direction: column;
  height: 100%;

  .row {
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    grid-row-gap: 1px;
    background-color: rgba(0, 0, 0, 0.12);
    opacity: 0.8;
  }

  .row-header {
    grid-template-rows: 2.5rem;
  }

  .col {
    grid-column: span 2;
    background-color: #FFFFFF;
  }

  .col-header {
    text-align: center;
    line-height: 2rem;
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: 500;
  }

  .cell {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}