@import "../../../../app.common";

:host {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $tnos-orange-400;
}

.authentication-logout {
  font-size: 2rem;
  color: $tnos-white;
}