$tnos-white:         #FFFFFF !default;
$tnos-black:         #000000 !default;
$tnos-orange-400:    #FF7043 !default;
$tnos-brown-400:     #8D6E63 !default;
$tnos-gray-300:      #E0E0E0 !default;
$tnos-gray-500:      #9E9E9E !default;
$tnos-gray-700:      #616161 !default;
$tnos-gray-900:      #212121 !default;
$tnos-red-500:       #F44336 !default;
$tnos-green-400:     #66BB6A !default;

$tnos-body-bg:       $tnos-white !default;
$tnos-body-color:    $tnos-gray-900 !default;

$tnos-font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
$tnos-font-family-serif: Georgia, "Times New Roman", Times, serif;
$tnos-font-family-monospace: "Roboto Mono";
