:host {
  grid-area: main;
  display: flex;
  flex-direction: column;
  height: 100%;

  main {
    flex: 1 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: #F5F5F5;
  }

}
