<nav class="header-nav">
  <ul class="header-nav__group">
    <li class="header-nav__item" routerLinkActive="active">
      <a class="header-nav__link" routerLink="/main/dashboard">
        Dashboard
      </a>
    </li>
    <li class="header-nav__item" routerLinkActive="active">
      <a class="header-nav__link" routerLink="/main/apartments/search">
        Apartments
      </a>
    </li>
    <li class="header-nav__item" routerLinkActive="active">
      <a class="header-nav__link" routerLink="/main/apartments">
        Contacts
      </a>
    </li>
    <li class="header-nav__item" routerLinkActive="active">
      <a class="header-nav__link" routerLink="/main/apartments">
        Tasks
      </a>
    </li>
  </ul>
</nav>