:host {
  grid-area: header-nav;
}

.header-nav {
  &__group {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #FF7043;
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: inherit;
    min-height: 3rem;
    width: 105px;
    border-left: 1px solid rgba(255, 255, 255, 0.3);
  }

  &__item:last-child {
    border-right: 1px solid rgba(255, 255, 255, 0.3);
  }

  &__link {
    color: #FFFFFF;
    font-size: 0.8rem;
    font-family: "Roboto Mono";
    text-transform: uppercase;
    text-decoration: none;

    &:hover {
      color: #29B6F6;
    }
  }
}