@import "../../app.common";

:host {
  min-height: 100vh;
  background-color: $tnos-orange-400;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {

  h1 {
    text-align: center;
    font-size: 4.236em;
    color: $tnos-white;
    letter-spacing: 0.3em;
  }

  h2 {
    text-align: center;
    font-size: 2.618em;
    color: $tnos-white;
  }

}
