$custom-select-indicator-color: #212121 !default;
$custom-select-indicator:     str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='#{$custom-select-indicator-color}' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E"), "#", "%23") !default;
$custom-select-bg-size:       8px 10px !default;

:host {

  select {
    display: inline-block;
    max-width: 100%;
    height: 2rem;
    padding: 0.5rem;
    line-height: 1.5;
    color: #212121;
    vertical-align: middle;
    background: #FFFFFF $custom-select-indicator no-repeat right center center;
    background-clip: padding-box;
    background-size: $custom-select-bg-size;
    border: 1px solid #212121;
  }
}
