<form [formGroup]="filtersForm">
  <div class="row">
    <div class="filter">
      <mat-checkbox formControlName="bookingOnLine">Filter by booking</mat-checkbox>
    </div>
    <div class="filter">
      <mat-checkbox formControlName="corporate">Filter by corporate</mat-checkbox>
    </div>
    <div class="filter">
      <input matInput type="text" formControlName="nameOrId" placeholder="Search" class="filter">
    </div>
    <div class="filter">
      <div class="counter">
        <span>Apartments available</span>
        <span>{{info.numTotItems}}</span>
      </div>
    </div>
    <div class="filter">
      <div class="counter">
        <span>Apartments available</span>
        <span>{{info.numTotPages}}</span>
      </div>
    </div>
    <div class="paginator">
      <div class="paginator-select">
        <mat-select placeholder="Items for page" formControlName="pageSize">
          <mat-option *ngFor="let range of paginationRanges" [value]="range">{{range}}</mat-option>
        </mat-select>
      </div>
      <div class="paginator-range">
        1-10 di 100
      </div>
      <div class="paginator-arrows">
        <mat-icon (click)=previous()>keyboard_arrow_left</mat-icon>
        <mat-icon (click)=next()>keyboard_arrow_right</mat-icon>
      </div>
    </div>
  </div>
</form>