:host {
  .row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 3rem 3rem;
  }

  .filter {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .paginator {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .paginator-select {
    flex: 1 0 0;
  }

  .paginator-range {
    flex: 1 0 0;
  }

  .paginator-arrows {
    cursor: pointer;
    flex: 0 0 3rem;
    display: flex;
    justify-content: space-between;
  }
}