/* ==========================================================================
   #PAGE
   ========================================================================== */

/**
 * Simple page-level setup.
 *
 * 1. Force scrollbars to always be visible to prevent awkward ‘jumps’ when
 *    navigating between pages that do/do not have enough content to produce
 *    scrollbars naturally.
 * 2. Hide scroll x.
 * 3. Ensure the page always fills at least the entire height of the viewport.
 */

html {
  overflow-y: scroll; /* [1] */
  overflow-x: hidden; /* [2] */
  min-height: 100%; /* [3] */
}
