/*
* 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
*    controls in Android 4.
* 2. Correct the inability to style clickable types in iOS and Safari.
*/

button,
html [type="button"], /* [1] */
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; /* [2] */
}

/*
* 1. Remove inner border and padding from Firefox, but don't restore the outline like Normalize.
*/

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none; /* [1] */
}

/*
* Work around a Firefox/IE bug where the transparent `button` background
* results in a loss of the default `button` focus styles.
* Credit: https://github.com/suitcss/base/
*/

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

button {
  border: 0;
  margin: 0;
  padding: 0;
  text-align: inherit;
  text-transform: inherit;
  font: inherit;
  -webkit-font-smoothing: inherit;
  letter-spacing: inherit;
  background: none;
  cursor: pointer;
  overflow: visible;
}
