/**
 * 1. Removes border from images inside links
 * 2. Helps images to properly behave in responsive layouts
 */

img {
  border-style: none; /* 1 */
  max-width: 100%; /* 2 */
  height: auto; /* 2 */
  vertical-align: middle; /* 2 */
}

figure {
  margin: 0;
}

/*
* 1.Hide the overflow in IE
*/

svg:not(:root) {
  overflow: hidden; /* [1] */
}
