/**
 * 1. Change the default font family in all browsers.
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 * 3. Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.
 * 4. Makes font thinkness to look the same in Firefox and Webkit.
 * 5. Setting @viewport causes scrollbars to overlap content in IE11 and Edge, so
 *   we force a non-overlapping, non-auto-hiding scrollbar to counteract.
 * 6. Change the default tap highlight to be completely transparent in iOS.
 */

html {
  font-family: sans-serif; /* [1] */
  line-height: 1.15; /* [2] */
  -ms-text-size-adjust: 100%; /* [3] */
  -webkit-text-size-adjust: 100%; /* [3] */
  -webkit-font-smoothing: antialiased; /* [4] */
  -moz-osx-font-smoothing: grayscale; /* [4] */
  -ms-overflow-style: scrollbar; /* [5] */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* [6] */
}

body {
  margin:  0;
  padding: 0;
}

/**
 * Fixes the issues of main HTML5 tag with even earlier versions of IE.
 * For IE9-, please use HTML5Shiv https://github.com/aFarkas/html5shiv.
 */

main {
  display: block;
}


/*
* 1. Add the correct box sizing in Firefox.
* 2. Show the overflow in Edge and IE.
*/

hr {
  box-sizing: content-box; /* [1] */
  overflow: visible; /* [2] */
}

iframe {
  border: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

dl {
  margin-top: 0;
  margin-bottom: 0;
}

dd {
  margin-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: inherit;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

blockquote {
  margin: 0;
  padding: 0;
}

address {
  margin-bottom: 0;
  font-style: normal;
  line-height: inherit;
}

// 1. Add the correct font style in Android 4.3-

dfn {
  font-style: italic; /* [1] */
}

sup {
  position: relative;
  top: -0.5em;
  vertical-align: baseline;
  font-size: 75%;
  line-height: 0;
}

b,
strong {
  font-weight: bold;
}

small {
  font-size: 80%;
}

/**
 * Removes default border spacing and collapse
 */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
*/

a {
  background-color: transparent;/* [1] */
  -webkit-text-decoration-skip: objects; /* [2] */
}

::-moz-focus-inner {
  border: 0;
  padding: 0;
}
