$material-design-icons-font-path: "~material-design-icons-iconfont/dist/fonts/";
@import "~material-design-icons-iconfont/dist/material-design-icons";
@import "~@angular/material/theming";
@include mat-core();
$custom-theme-primary: mat-palette($mat-deep-orange);
$custom-theme-accent: mat-palette($mat-light-blue, A200, A100, A400);
$custom-theme-warn: mat-palette($mat-red);
$custom-theme: mat-light-theme($custom-theme-primary, $custom-theme-accent, $custom-theme-warn);
@include angular-material-theme($custom-theme);