$io-white:         #FFFFFF !default;
$io-black:         #000000 !default;
$io-orange-400:    #FF7043 !default;
$io-blue-400:      #29B6F6 !default;
$io-pink-400:      #EC407A !default;
$io-brown-400:     #8D6E63 !default;
$io-gray-300:      #E0E0E0 !default;
$io-gray-500:      #9E9E9E !default;
$io-gray-700:      #616161 !default;
$io-gray-900:      #212121 !default;
$io-red-500:       #F44336 !default;
$io-green-400:     #66BB6A !default;
$io-indigo-750:    #3F2AB1 !default;


$io-body-bg:       $io-white !default;
$io-body-color:    $io-gray-900 !default;
