$tnos-font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
$tnos-font-family-serif: Georgia, "Times New Roman", Times, serif;
$tnos-font-family-monospace: "Roboto Mono";

$tnos-font-family-base: $tnos-font-family-sans-serif;
$tnos-font-size-base: 16px !default;
$tnos-font-weight-base: normal !default;
$tnos-line-height-base: 1.5 !default;
