@import "../../../../app.common";

.authentication-login {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $tnos-orange-400;

  &__error {
    display: block;
    margin-bottom: 0.5em;
    color: $tnos-red-500;
  }

  &__form {
    position: relative;
    width: 460px;
    padding: 3rem 2rem;
    border-radius: 3px;
    background-color: $tnos-white;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

    :-moz-placeholder,
    :-ms-input-placeholder,
    ::-moz-placeholder,
    ::-webkit-input-placeholder {
      color: $tnos-gray-700;
      letter-spacing: 0.3rem;
      text-transform: uppercase;
    }

    ::-moz-placeholder {
      opacity: 1;
    }

    :placeholder-shown {
      color: $tnos-gray-700;
    }
  }

  &__group:not(:last-child) {
    margin-bottom: 0.5rem;
  }

  input[type="checkbox"] {
    vertical-align: middle;
    position: relative;
    bottom: 1px;
  }

  label {
    color: $tnos-gray-700;
  }

  input {
    padding: 0.5rem 1rem;
    border: 0;
    background-color: $tnos-white;
    font-size: 1rem;
  }

  i {
    color: $tnos-white;
    font-size: 1rem;
  }

  &__btn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 3.5rem;
    margin-top: 1.5rem;
    padding: 0 1rem;
    border-radius: 50%;
  }
}