<div class="authentication-login">
  <form class="authentication-login__form" (ngSubmit)="onSubmit()" #f="ngForm">
    <div class="authentication-login__credentials">
      <span class="authentication-login__error" *ngIf="(hasError$ | async)">
        Wrong username or password.
      </span>
      <div class="authentication-login__group">
        <ui-form-group>
          <i class="material-icons">email</i>
          <input autocapitalize="off" autocorrect="off" autocomplete="off" type="text" tabindex="1" name="username" placeholder="username" ngModel minlength="4" maxlength="25" uiFormgroup>
        </ui-form-group>
      </div>
      <div class="authentication-login__group">
        <ui-form-group>
          <i class="material-icons">lock</i>
          <input type="password" tabindex="2" name="password" class="form-control" placeholder="password" ngModel minlength="4" maxlength="25" #inputPassword uiFormgroup>
        </ui-form-group>
      </div>
      <div class="authentication-login__group">
        <label for="showPassword">
          <input id="showPassword" type="checkbox" (click)="showPassword(inputPassword)">
          show password
        </label>
      </div>
    </div>
    <div>
      <button class="btn authentication-login__btn" tabindex="3" type="submit" [disabled]="!f.valid">
          <i  *ngIf="(isLoading$ | async); else loading" class="material-icons">arrow_forward</i>
          <ng-template #loading>
            <i class="material-icons">check</i>
          </ng-template>
      </button>
    </div>
  </form>
</div>